* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #eee;
  position: relative;
  color: #303133;
}

.header {
  height: 65px;
  line-height: 65px;
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  background-color: #fff;
  padding-left: 20px;
  font-size: 18px;
}

.icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.word{
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.container {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding-top: 5px;
}

.qrcodeContainer {
  text-align: center;
}

.qrcode {
  width: 400px;
  height: 400px;
}

.card {
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  overflow: hidden;
  color: #303133;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  width: 80%;
  margin: 20px auto;
}

.cardTitle {
  border-bottom: 1px solid #ebeef5;
  padding: 15px;
  font-size: 1em;
}

.cardInfo {
  padding: 15px;
  font-size: 0.9em;
}

.cardInfo .label {
  width: 65px;
  margin-right: 10px;
  text-align: right;
  display: inline-block;
}

.cardInfo p {
  width: 100%;
  margin: 10px 0;
}

.cardButton {
  margin-bottom: 10px;
  text-align: center;
}

.changePortButton {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.changePortButton[disabled] {
  color: #fff;
  background-color: #a0cfff;
  border-color: #a0cfff;
}

@font-face {
  font-family: 'iconfont';  /* project id 710164 */
  src: url('//at.alicdn.com/t/font_710164_eq4orv7o2cq.eot');
  src: url('//at.alicdn.com/t/font_710164_eq4orv7o2cq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_710164_eq4orv7o2cq.woff') format('woff'),
  url('//at.alicdn.com/t/font_710164_eq4orv7o2cq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_710164_eq4orv7o2cq.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 26px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.download {
  float: right;
}